body {
    margin: 0;
    font-family: 'UbuntuSansMono';
    font-weight: regular;
    src: url("./fonts/UbuntuSansMono-VariableFont_wght.ttf") format("truetype");
    background-color: #f0f0f0;
  }
  